[Unit]
Description=Docker compose up-down service
After=network.target
 
[Service]
Type=forking
WorkingDirectory=/home/razumovsky_r/RiderProjects/CQRS-Movies-API
User=razumovsky_r
Group=razumovsky_r
ExecStart=/home/razumovsky_r/RiderProjects/CQRS-Movies-API/scripts/DockerComposeUp.sh
ExecStop=/home/razumovsky_r/RiderProjects/CQRS-Movies-API/scripts/DockerComposeDown.sh
 
[Install]
WantedBy=multi-user.target