parameters:
  - name: buildConfiguration
    type: string
    default: 'Release'
  - name: buildPlatform
    type: string
    default: 'Any CPU'
  - name: projectPath
    type: string
  - name: version
    type: string
    default: '1.0.0.0'

steps:
  - checkout: self
    fetchDepth: 0

  - task: gitversion/setup@0
    displayName: 'GitVersion Setup'
    inputs:
      versionSpec: '5.9.x'

  - task: gitversion/execute@0
    displayName: 'GitVersion Execute'
      
  - script: |
      echo "Upcoming semantic version: $(SemVer)"
    displayName: 'Print semantic version'

  - bash: echo $Action$BuildVersion
    displayName: 'Set Build Version'
    env:
      Action: '##vso[build.updatebuildnumber]'
      BuildVersion: $(GitVersion.SemVer)

  - task: UseDotNet@2
    displayName: 'Install .NET 6.x SDK'
    inputs:
      packageType: sdk
      version: 6.x

  - task: DotNetCoreCLI@2
    displayName: 'Dotnet Restore'
    inputs:
      command: 'restore'
      arguments: '--verbosity minimal'

  - task: DotNetCoreCLI@2
    displayName: 'Dotnet build ${{ parameters.buildConfiguration }}'
    inputs:
      command: 'build'
      arguments: '--configuration ${{ parameters.buildConfiguration }} --no-restore'

  - task: DotNetCoreCLI@2
    displayName: 'Dotnet Publish'
    inputs:
      command: 'publish'
      publishWebProjects: false
      projects: '$(projectPath)'
      arguments: '-p:Version=$(SemVer) -c ${{ parameters.buildConfiguration }} -o $(Build.ArtifactStagingDirectory)/${{ parameters.buildConfiguration }} --no-build'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifacts'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'drop'
      publishLocation: 'Container'